<div id="title">
	<h1>{{ title }}</h1>
	<h2>{{ subtitle }}</h2>
	<p>{{ web }}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id nisl mi. Mauris sed mauris vel justo mattis ornare. Mauris eros risus, pharetra at mauris ut, pretium laoreet ex. Integer maximus turpis sed sollicitudin cursus. Cras auctor ante et erat tempus, nec vestibulum ante varius. Donec sagittis cursus lacinia. Aenean nec arcu id neque ornare volutpat. Donec mattis ligula ac neque porttitor, eget dignissim neque vestibulum. Donec malesuada mi elit, interdum finibus tellus auctor at. In varius mauris ligula, ut varius elit pretium quis. Nulla ornare bibendum eros.</p>
</article>